$break-min: 30rem;
$break-med: 60rem;
$break-max: 100rem;

html {
	font-size: 18px;
	transition: font-size 0.25s ease-in-out;
	overflow-x: hidden;
	height: 100%;

	@media(min-width: $break-min) {
		font-size: 1.25rem;
	}
	@media(min-width: $break-med) {
		font-size: 1.75rem;
	}
	@media(min-width: $break-max) {
		font-size: 1.8rem;
	}
}
body {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	margin: 0;
	font-family: monospace;
	color: #212121;
}

.c-header {
	cursor: default;
	user-select: none;

	>h1 {
		position: absolute;
		display: block;
		margin: 0;
		padding: 0;
		font-size: 8rem;
		line-height: 0;
		top: 0;
		right: 2rem;
		transform: rotate(-90deg);
		transform-origin: right top;
		white-space: nowrap;
		text-shadow: -3px 0 0 blue,
			3px 0 0 red;
		animation: redblue 60s infinite ease alternate-reverse;
		mix-blend-mode: overlay;

		&::before,
		&::after {
			content: attr(data-glitch);
			position: absolute;
			top: 0;
			left: 0;
			height: 1em;
			opacity: 0;
			mix-blend-mode: overlay;
		}

		&.glitch {
			&::before,
			&::after {
				opacity: 1;
			}
		}

		&::before {
			text-shadow: -3px 0 0 red;
			left: -3px;
			animation: glitch-1 4s infinite steps(3)alternate-reverse;
		}
		&::after {
			text-shadow: +3px 0 0 blue;
			left: +3px;
			animation: glitch-2 4s infinite steps(2) alternate-reverse;
		}

		@media(min-width: $break-med) {
			position: fixed;
		}
	}
}

.t-my-name {
	display: block;
	font-size: 4rem;
	margin: 0;
	padding: 1rem;
	padding-top: 18rem;
	max-width: 16rem;
	transition: right 0.25s ease-in-out;

	&::after {
		content: "_";
		animation: cursor_blink 1s steps(1) infinite forwards;
	}

	@media(min-width: $break-min) {
		max-width: 100%;
		padding-top: 22rem;
	}

	@media(min-width: $break-med) {
		padding-right: 5rem;
		text-align: right;
	}
}

@keyframes glitch-1 {
	$steps: 15;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip-path: polygon(0 random(100%)-50%, 100% random(100%)-50%, 100% random(100%)-50%, 0% random(100%)-50%);
			transform: translateX(random(100px)-5px);
		}
	}
}

@keyframes glitch-2 {
	$steps: 15;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip-path: polygon(0 random(100%)-50%, 100% random(100%)-50%, 100% random(100%)-50%, 0% random(100%)-50%);
			transform: translateX(random(10px)-5px);
		}
	}
}

@keyframes redblue {
	$steps: 12;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			text-shadow: (random(6px)-3px) 0 0 blue,
				(random(6px)-3px) 0 0 red;
		}
	}
}

article {
	max-width: 40rem;
	padding: 0 1rem;

	@media(min-width: $break-med) {
		padding-right: 6rem;
		padding-left: 2rem;
	}

	>header {
		position: relative;
		margin-bottom: 4rem;

		>h1 {
			>a {
				color: inherit;

				&:hover {
					box-shadow: none;
					text-shadow: none;
					background: rgba(0, 63, 255, 0.1);
				}
			}
		}

		>time {
			position: absolute;
			top: 4rem;
			opacity: 0.5;
			font-style: italic;
		}
	}
}

a {
	color: rgba(0, 63, 255, 0.8);
	text-decoration: none;

	&:hover {
		box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 rgba(0, 63, 255, 0.8);
		text-shadow: -2px 0px 0 white, 2px 0px 0 white, 2px -2px 0 white;
	}

	&:active, &:focus {
		background: rgba(0, 63, 255, 0.1);
		text-shadow: none;
	}
}

h1 {
	padding-top: 5rem;
	margin: 0;
	font-size: 2rem;
}
p, ul, ol {
	margin: 2rem 0;
	font-size: 1rem;
	line-height: 1.5em;
	max-width: 40em;
}

@keyframes cursor_blink {
	50% {
		color: transparent;
	}
}